.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    outline-offset: 2rem;
    //border-radius: 2px;

    &--p1 {
      top: -2rem;
      left: 0;
    }

    &--p2 {
      top: 2rem;
      right: 0;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      z-index: 1000;
      transform: scale(1.05) translateY(-1.5rem);
      outline: 1rem solid $color-primary;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
